In [ ]:
import pandas as pd

:

In [ ]:
df = pd.read_csv("movies.csv")

:

In [16]:
df.head()

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
0,0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,62.636,8.7,21456
1,1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,19.097,8.7,3652
2,2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,57.656,8.7,15990
3,3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,41.077,8.6,12778
4,4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,1974-12-20,46.655,8.6,9640

In [17]:
df = df[['title']]
df2 = pd.read_csv("netflix_titles.csv")
df2.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [18]:
df['source'] = 'imdb'
df['type'] = 'movie'

In [19]:
df2 = df2[['type', 'title']]
df2['source'] = 'netflix'

In [23]:
df = df[['source', 'type', 'title']]
df2 = df2[['source', 'type', 'title']]
f = pd.concat([df, df2], ignore_index = True)

In [27]:
len(f.title.unique())

15627

In [36]:
g = f.groupby(['type', 'source']).agg({'title' : 'unique'}).reset_index()
g.head()

      type   source                                              title
0    Movie     imdb  [The Shawshank Redemption, Dilwale Dulhania Le...
1    Movie  netflix  [Dick Johnson Is Dead, My Little Pony: A New G...
2  TV Show  netflix  [Blood & Water, Ganglands, Jailbirds New Orlea...

In [38]:
g_unpack = g.assign(title=g['title']).explode('title').reset_index(drop = True)
g_unpack.head()

    type source                        title
0  Movie   imdb     The Shawshank Redemption
1  Movie   imdb  Dilwale Dulhania Le Jayenge
2  Movie   imdb                The Godfather
3  Movie   imdb             Schindler's List
4  Movie   imdb       The Godfather: Part II

In [40]:
g_unpack.to_csv("../data.csv")